<header class="top-page-header">
<div class="top-page-contents">
  <div class="left-contents">
    <div class="top-icon">
      <%= link_to image_tag("icon-color.png", class:"log-icon"), "/" %>
      <%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %>
      さんのマイページ
    </div>
  </div>
  <div class="right-contents">
    <div class="nav">
      <ul class="lists-right">
        <li><%= link_to 'ログブックの入力', new_area_path, class: "logbook" %></li>
        <li><%= link_to 'マイページ', user_path(current_user.id), class: "logbook" %>
      </ul>
    </div>
  </div>
</div>
</div>
</header>
<main>
<div class="main">
  <div class="main-left">
  </div>
  <div class="logbook-center">
    <div class="day-list">
      <% @areas.each do |area| %>
        <% if "#{area.id}" == "#{params[:area_id]}" %>
        <div class="day-point">
          <%= link_to "/users/#{area.user_id}/areas/#{area.id}/index", class: "btn-show" do %>
            <p><%= area.dive_day %></p>
            <p><%= area.region%></p>
          <% end %>
        </div>
        <% else %>
        <div class="day-point">
          <%= link_to "/users/#{area.user_id}/areas/#{area.id}/index", class: "btn-flat-border" do %>
            <p><%= area.dive_day %></p>
            <p><%= area.region%></p>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
    <div class="logbook-list">
      <div class="top-log">
        <ul class="condition-log">
          <h3>コンディション</h3>
          <div class="lists-log">
            <p class="log-span">天気</p><%= @all.condition.weather %>
          </div>
          <div class="lists-log">
            <p class="log-span">風速</p><%= @all.condition.wind %>m
          </div>
          <div class="lists-log">
            <p class="log-span">気温</p><%= @all.condition.temperature %>℃
          </div>
          <div class="lists-log">
            <p class="log-span">水温</p><%= @all.condition.water_temperature %>℃
          </div>
          <div class="lists-log">
            <p class="log-span">波高</p><%= @all.condition.wave %>m
          </div>
          <div class="lists-log">
            <p class="log-span">潮流</p><%= @all.condition.tide.name %>
          </div>
          <ul class="item-log">
          <h3>装備品</h3>
          <div class="lists-log">
            <p class="log-span">スーツ</p><%= @item.suitstype.name %>
          </div>
          <div class="lists-log">
            <p class="log-span">厚み</p><%= @item.thickness %>
          </div>
          <div class="lists-log">
            <p class="log-span">ウエイト</p><%= @item.weight %>
          </div>
          <div class="lists-log">
            <p class="log-span">タンクタイプ</p><%= @item.type.name %>
          </div>
          <div class="lists-log">
            <p class="log-span">タンク容量</p><%= @item.capacity.name %>
          </div>
          </ul>
        </ul>
        <div class="image-area">
          <p>Photo</p>
          <%= image_tag @logbook.image.variant(resize: '500x500'), class: 'logbook-image' if @logbook.image.attached? %>
        </div>
      </div>
        <ul class="logbook-log">
          <h3>記録</h3>
          <div class="lists-log">
            <p class="log-span">本数</p><%= @logbook.count %>本目
          </div>
          <div class="lists-log">
            <p class="log-span">エントリー方法</p><%= @all.entry.name %>
          </div>
          <div class="lists-log">
            <p class="log-span">ポイント</p><%= @logbook.point %>
          </div>
          <div class="lists-log">
            <p class="log-span">エントリータイム</p><%= @logbook.entry_time.strftime('%H:%M') %>
          </div>
          <div class="lists-log">
            <p class="log-span">エキジットタイム</p><%= @logbook.exit_time.strftime('%H:%M') %>
          </div>          
          <div class="lists-log">
            <p class="log-span">スタート（残圧）</p><%= @logbook.start_air %>
          </div>
          <div class="lists-log">
            <p class="log-span">エキジット（残圧）</p><%= @logbook.finish_air %>
          </div>
          <div class="lists-log">
            <p class="log-span">最大深度</p><%= @logbook.max_depth %>m
          </div>
          <div class="lists-log">
            <p class="log-span">平均深度</p><%= @logbook.ave_depth %>m
          </div>
          <div class="logbook-log">
            <p class="border">備考（一緒に潜ったバディ・発見した水中生物など）</p><%= @logbook.text %>
          </div>
        </ul>
      </div>
    </div>
    <div class="main-right">
    </div>
  </div>
</div>
</main>