<header class="top-page-header">
<div class="top-page-contents">
  <div class="left-contents">
    <div class="top-icon">
      <%= link_to image_tag("icon-color.png", class:"log-icon"), "/" %>
      <% if user_signed_in? %>
        <%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %>
      <% end %>
    </div>
  </div>
  <div class="header-right">
    <div class="right-contents">
        <ul class="lists-right">
          <% if user_signed_in? %>
            <li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: "logout" %></li>
            <li><%= link_to image_tag("home-icon.png", class:"right-icon"), user_path(current_user.id) %></li>
          <% else %>
            <li><%= link_to 'LOGIN',  new_user_session_path, class: "login" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
</header>