<header class="my-page-header">
  <div class="top-page-contents">
    <div class="left-contents">
      <div class="top-icon">
        <%= link_to image_tag("toplogo.png", class:"log-icon"), "/" %>
      </div>
    </div>
    <div class="right">
      <div class="right-contents">
        <% if user_signed_in? %>
          <%= render "shared/search" %>
          <ul class="lists-right">
            <li class="icon-area"><%= link_to image_tag("home-icon.png", class:"right-icon"), tweets_path %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</header>
<div class="head-group">
  <ul class="head-list">
    <% if user_signed_in? %>
    <div class="user-name-area">
      <h3>こんにちは　<%= link_to current_user.nickname, user_path(current_user.id), class: "top-user-nickname" %>さん</h3>
    </div>
    <% else %>
    <div class="user-name-area">
      <h1>サービスを利用するにはアカウントの作成、またはログインしてください。</h1>
    </div>
    <% end %>
  </ul>
    <ul class="head-list">
    <% if user_signed_in? %>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"session-text" %></li>
    <% else %>
      <li><%= link_to 'ログイン',  new_user_session_path, class:"session-text" %></li>
      <li><%= link_to '新規作成', new_user_registration_path, class:"session-text" %></li>
    <% end %>
  </ul>
</div>