<header class="my-page-header">
  <div class="top-page-contents">
    <div class="left-contents">
      <div class="top-icon">
        <%= link_to image_tag("toplogo.png", class:"log-icon"), "/" %>
      </div>
    </div>
    <div class="right">
      <div class="right-contents">
        <% if user_signed_in? %>
          <%= render "shared/search" %>
          <ul class="lists-right">
            <li class="icon-area"><%= link_to image_tag("home-icon.png", class:"right-icon"), tweets_path %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</header>

<div class="head-group">

  <% if user_signed_in? %>
  <div class="today">
    <div>こんにちは　<%= link_to current_user.nickname, user_path(current_user.id), class: "top-user-nickname" %>さん</div>
    <div><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"session-text" %></div>
  </div>
  <% else %>
  <div class="today">
    <div>サービスを利用するにはログイン、またはアカウントの作成してください。</div>
    <div>
      <%= link_to 'ログイン',  new_user_session_path, class:"session-text" %>
      /
      <%= link_to '新規作成', new_user_registration_path, class:"session-text" %>
    </div>
  </div>
  <% end %>
  <div class="today">
    <%= @today %>
  </div>

</div>