<header class="my-page-header">
  <div class="top-page-contents">
    <div class="left-contents">
      <div class="top-icon">
        <%= link_to image_tag("toplogo.png", class:"log-icon"), "/" %>
        <%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %>
        さんのマイページ
      </div>
    </div>
    <div class="right">
      <div class="right-contents">
          <%= render "shared/search" %>
      </div>
    </div>
  </div>
</header>
<div class="new-edit-btn-my">
  <%= link_to "ツイート確認", tweets_path, class:"head-text" %>
  <%= link_to "ログブック", user_path(current_user.id), class:"head-text" %>
  <%= link_to "ツイート投稿", new_tweet_path, class:"head-text" %>
  <%= link_to "ログの入力", new_area_path, class:"head-text" %>
  <%= link_to "トップページ", root_path, class:"head-text" %>
</div>