<header class="top-page-header">
  <div class="top-page-contents">
    <div class="left-contents">
      <div class="top-icon">
        <%= link_to image_tag("icon-color.png", class:"log-icon"), "/" %>
        <%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %>
        さんのマイページ
      </div>
    </div>
    <div>
      <div class="right-contents">
        <div class="nav">
          <ul class="lists-right">
            <li><%= link_to 'ログブックの入力', new_area_path, class: "logbook" %></li>
            <li><%= link_to 'マイページ', user_path(current_user.id), class: "logbook" %>
          </ul>
        </div>
        <%# 検索機能の呼び出し %>
        <%= render "shared/search" %>
      </div>
    </div>
  </div>
</header>