<%= render "shared/header" %>
<main>
<div class="top-title">
  <div class="area">
    <div class="main-logo">
      <%= link_to image_tag("toplogo.png", class:"toplogo"), "/" %>
    </div>
    <h1 class="top-main">
      ダイビングのツイートと記録をしよう
    </h1>
  </div>
  <div class="new-edit-btn">
    <% if user_signed_in? %>
      <%= link_to "ツイート投稿", new_tweet_path, class:"head-text" %>
      <%= link_to "ログの入力", new_area_path, class:"head-text" %>
      <%= link_to "マイページ", user_path(current_user.id), class:"head-text" %>
    <% end %>
  </div>
</div>
<div class="tweet-title-top">
  <p>ツイート一覧</p>
</div>
  <ul class="tweet-contents">
    <li class="tweet-list">
    <% if @tweets.present? %>
      <% @tweets.each do |tweet| %>
      <div class="group">
        <div class="tweet-image-area">
            <%= image_tag tweet.image.variant(resize: '600x400'), class: 'tweet-image' if tweet.image.attached? %>
        </div>
        <div class="tweets-nickname-area">
          <h3 class="tweets-nickname">
            投稿者：<%= tweet.user.nickname %>
          </h3>
          <div class="tweet-text">
            <%= tweet.text %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    </li>
  </ul>
</main>
<%= render "shared/footer" %>