<body>
  <%= render "shared/header" %>
  
  <div class="head-group">
    <% if user_signed_in? %>
    <div class="today">
      <div>こんにちは　<%= link_to current_user.nickname, user_path(current_user.id), class: "top-user-nickname" %>さん</div>
      <div><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"session-text" %></div>
    </div>
    <% else %>
    <div class="today">
      <h5>サービスを利用するにはログイン、またはアカウントの作成してください。</h5>
      <div>
        <%= link_to 'ログイン',  new_user_session_path, class:"session-text" %>
        または
        <%= link_to '新規作成', new_user_registration_path, class:"session-text" %>
      </div>
    </div>
    <% end %>
    <div class="today">
      <%= @today %>
    </div>
  </div>

  <main>
  <div class="top-title">
    <div class="area">
      <div class="main-logo">
        <%= link_to image_tag("toplogo.png", class:"toplogo"), "/" %>
      </div>
      <h1 class="top-main">
        ダイビングのツイートと記録をしよう
      </h1>
    </div>
    <div class="new-edit-btn">
      <% if user_signed_in? %>
        <%= link_to "ツイート投稿", new_tweet_path, class:"head-text" %>
        <%= link_to "ログの入力", new_area_path, class:"head-text" %>
        <%= link_to "マイページ", user_path(current_user.id), class:"head-text" %>
      <% end %>
    </div>
  </div>

  <div class="explanation">
    <div class="tweet-title-top">
      <p>ログブック</p>
    </div>
    <div class="logbook-exp">
      <%= image_tag("pc-image.png", class:"toplogo") %>
      <p>その日のダイビングの情報を写真とともに記録することもできます。</p>
      <% if user_signed_in? %>
      <p>ログブックの入力は<%= link_to "こちら", new_area_path %></p>
      <% end %>
    </div>
  </div>

  <ul class="tweet-contents">
    <li class="tweet-list">
    <% if @tweets.present? %>
        <p class="tweet-title-top">ツイート一覧</p>
      <% @tweets.each do |tweet| %>
      <div class="group">
        <div class="tweet-image-area">
            <%= image_tag tweet.image.variant(resize: '600x400'), class: 'tweet-image' if tweet.image.attached? %>
        </div>
        <div class="tweets-nickname-area">
          <h3 class="tweets-nickname">
            投稿者：<%= tweet.user.nickname %>
            <P>投稿日：<%= l tweet.user.created_at %></p>
          </h3>
          <div class="tweet-text">
            <%= tweet.text %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    </li>
  </ul>
</main>
<%= render "shared/footer" %>
</body>