<h1>Areas#new</h1>
<p>Find me in app/views/areas/new.html.erb</p>
<%= form_with(model: @area, url: areas_path, local: true) do |f| %>
  <h2>area</h2>
  <div>
    <p>date</P>
    <%= f.text_field :dive_day, placeholder:"例）2020-08-01" %>
  </div>
  <div>
    <p>area</P>
    <%= f.text_field :region, placeholder:"例）石垣島" %>
  </div>
  <div>
    <p>entry</P>
    <%= f.collection_select(:entry_id, Entry.all, :id, :name, {}) %>
  </div>

  <%= f.submit "次へ", class:"sell-btn" %>
<% end %>
<%= link_to 'トップページに戻る', root_path %>
