<%= render "shared/second-header" %>

<div class="area">
  <div class="area-left">
  </div>

  <div class="area-center">
  <%= form_with(model: @area, url: areas_path, local: true) do |f| %>
  <%# エラーメッセージ <%= render 'shared/error_messages', model: f.object %>
  <div class="form">
    <h2>area</h2>
    <div>
      <p>date</P>
      <%= f.text_field :dive_day, placeholder:"例）2020-08-01" %>
    </div>
    <div>
      <p>area</P>
      <%= f.text_field :region, placeholder:"例）石垣島" %>
    </div>
    <div>
      <p>entry</P>
      <%= f.collection_select(:entry_id, Entry.all, :id, :name, {}) %>
    </div>
    <%= f.submit "次へ", class:"sell-btn" %>
    </div>
  <% end %>
  </div>

  <div class="area-right">
  </div>
</div>
