
<%= render "shared/second-header" %>

<div class="area">
  <div class="area-left">
  </div>

  <div class="area-center">

  <%= form_with(model: @item, url: area_items_path, local: true) do |f| %>
  <div class="form">
    <div>
      <p>厚み</P>
      <%= f.text_field :thickness, placeholder:"例）5" %>
    </div>
    <div>
      <p>type</P>
      <%= f.collection_select(:suitstype_id, Suitstype.all, :id, :name, {}) %>
    </div>
    <div>
      <p>weight</P>
      <%= f.text_field :weight, placeholder:"例）5" %>
    </div>
    <div>
      <p>tank_cap</P>
      <%= f.collection_select(:capacity_id, Capacity.all, :id, :name, {}) %>
    </div>
    <div>
      <p>tank_type</P>
      <%= f.collection_select(:type_id, Type.all, :id, :name, {}) %>
    </div>
    <%= f.submit "次へ", class:"sell-btn" %>
  </div>
  <% end %>
  </div>
  <div class="area-right">
  </div>
</div>