<!DOCTYPE html>
<html>
  <head>
    <title>LogbookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
  <div class="footer-logo">
    <%= link_to image_tag("log-logo-white.png", class:"logo-white"), root_path %>
  </div>
  <div class="copyright">
    <p>© LOG DIVERS</p>
  </div>
</footer>
</html>
